<app-http-warning></app-http-warning>
<h3 nz-typography style="text-align: center">Signup</h3>
<ng-container *ngIf="errors$ | async as errors">
    <nz-alert
        nzType="error"
        nzMessage="The following errors occured:"
        [nzDescription]="errorList"
        class="alert-box"
    ></nz-alert>
    <ng-template #errorList>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </ng-template>
</ng-container>
<form nz-form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTip">
            <nz-input-group>
                <input nz-input formControlName="name" placeholder="Name" />
                <ng-template #nameErrorTip let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please provide your name.
                    </ng-container>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTip">
            <nz-input-group>
                <input nz-input formControlName="email" placeholder="Email" />
                <ng-template #emailErrorTip let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please provide your email address.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('email')">
                        Please provide a valid email address.
                    </ng-container>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTip">
            <nz-input-group>
                <input
                    nz-input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                />
                <ng-template #passwordErrorTip let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please provide a password.
                    </ng-container>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <button
            nz-button
            type="submit"
            nzType="primary"
            [nzLoading]="isSigningUp$ | async"
            [disabled]="!signupForm.valid"
        >
            Signup
        </button>
    </nz-form-item>
</form>
<p nz-typography>
    Already have an account? <a routerLink="../login">Login</a> here.
</p>
