<h3 nz-typography style="text-align: center">Signup</h3>
<form nz-form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
                <input nz-input formControlName="name" placeholder="Name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group nzPrefixIcon="mail">
                <input nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
                <input
                    nz-input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <button nz-button type="submit" nzType="primary">Signup</button>
    </nz-form-item>
</form>
<p nz-typography>
    Already have an account? <a routerLink="../login">Login</a> here.
</p>
