<ul nz-menu nzMode="inline" class="sider-menu">
    <nz-space class="controls-container" nzDirection="vertical">
        <input
            *nzSpaceItem
            nz-input
            placeholder="Search ..."
            [(ngModel)]="filterString"
            (input)="onChangeFilterString()"
        />
        <div *nzSpaceItem class="button-container">
            <button nz-button (click)="onClickCreateCustomer()">Add</button>
        </div>
    </nz-space>
    <nz-divider></nz-divider>
    <nz-spin
        nzSimple
        style="text-align: center"
        *ngIf="isFetching$ | async; else doneFetching"
    ></nz-spin>
    <ng-template #doneFetching>
        <ng-container *ngIf="customers$ | async as customers">
            <li
                nz-menu-item
                *ngFor="let customer of customers$ | async"
                nzMatchRouter
            >
                <app-sidebar-menu-item
                    [customer]="customer"
                ></app-sidebar-menu-item>
            </li>
            <ng-container *ngIf="customers.length === 0">
                <nz-empty
                    nzNotFoundImage="simple"
                    nzNotFoundContent="No customers exist yet."
                ></nz-empty>
                <p nz-typography style="text-align: center">
                    <a routerLink="new">Add one now</a>
                </p>
            </ng-container>
        </ng-container>
    </ng-template>
</ul>
