<nz-page-header nzBackIcon>
    <nz-page-header-title
        >{{ !editingMode ? "Create" : "Update" }} customer</nz-page-header-title
    >
</nz-page-header>

<ng-container *ngIf="errors.length > 0">
    <nz-alert
        nzType="error"
        nzMessage="The following errors occurred:"
        [nzDescription]="errorList"
        style="margin-bottom: 16px"
    ></nz-alert>
    <ng-template #errorList>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </ng-template>
</ng-container>

<form nz-form [formGroup]="customerForm" class="form" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please provide a valid name.">
            <nz-input-group>
                <input
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="Name"
                />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please provide a valid email address.">
            <nz-input-group>
                <input
                    type="text"
                    nz-input
                    formControlName="emailAddress"
                    placeholder="Email address"
                />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please provide a valid phone number.">
            <nz-input-group>
                <input
                    type="text"
                    nz-input
                    formControlName="phoneNumber"
                    placeholder="Phone number"
                />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-space>
                <button
                    type="submit"
                    *nzSpaceItem
                    nz-button
                    nzType="primary"
                    [disabled]="!customerForm.valid"
                    [nzLoading]="isSaving"
                >
                    Save
                </button>
                <button *nzSpaceItem nz-button (click)="onClear()">
                    Clear
                </button>
            </nz-space>
        </nz-form-control>
    </nz-form-item>
</form>
